Data/Helmholtz_ocean.nc filter=lfs diff=lfs merge=lfs -text
Data/MJO.nc filter=lfs diff=lfs merge=lfs -text
Data/SODA.nc filter=lfs diff=lfs merge=lfs -text
Data/SODA_curl.nc filter=lfs diff=lfs merge=lfs -text
Data/TC2D.nc filter=lfs diff=lfs merge=lfs -text
Data/ZonalMean.nc filter=lfs diff=lfs merge=lfs -text
Data/atmos3D.nc filter=lfs diff=lfs merge=lfs -text
Data/Helmholtz_atmos.nc filter=lfs diff=lfs merge=lfs -text
